@charset "utf-8";
/* 
 * Description: skin.css
 * Author:      gaonaibo,sundan
 * Version:     1.0.0(update stan 2016-10-25 15:25)
 * Website:     http://www.51jk.com/
*/
/* CSS Reset - Description :Reset skin for difference needs----------- */
/**按钮*/
/* 
 * Description: layout.css
 * Author:      sundan
 * Version:     1.0.0(update stan 2016-10-25 15:25)
 * Website:     http://www.51jk.com/
*/
/* CSS Reset - Description :用于demo展示，实际应用时不需要引用----------- */
/*
定义圆角
@radius 圆角大小
*/
/*
盒子阴影
@right_left 右边阴影为正数 左边负数
@bottom_top 下边阴影为正数 上边负数
@box  阴影大小
@box_color 阴影颜色
*/
/*背景渐变
@start  渐变开始颜色
@end  结束颜色
*/
/*
透明度 或渐变 1为不透明 0透明
css3 rgba(110, 142, 185, .4)!important;前三个是颜色值 后一个是透明值
用来兼容所有浏览器
*/
/*
 flex 用来实现弹性盒子布局
 * */
/*
列布局
@c1 列数
@c2 列宽
@c3 列间距
@c4 边框样式
*/
.flex-cont {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  width: 0%;
}
.flex-bg {
  background-color: #cccccc;
  margin: 0.1rem;
  padding: 0.2rem;
}
/*消息提示*/
.flex-info {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-box-align: start;
  -o-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  margin: 20px 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 10px;
}
.flex-info-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
}
/*列表*/
.flex-simple {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
/*定义子元素顶部对齐*/
.flex-simple-top {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-box-align: start;
  -o-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}
/*定义子元素底部对齐*/
.flex-simple-bottom {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-box-align: end;
  -o-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
}
/*tab*/
.flex-tab {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.flex-tab li {
  width: 0%;
  position: relative;
  display: block;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  padding: 0.7rem 0;
}
.flex-tab li img {
  width: 0.72rem;
  height: 0.72rem;
}
.flex-tab li a {
  display: block;
}
.flex-tab li p {
  text-align: center;
  font-size: 0.33rem;
  color: #666666;
  padding-top: 0.2rem;
}
.flex-tab li:last-child {
  border-right: none;
}
/*导航*/
.flex-nav {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 44px;
  line-height: 44px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  -o-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.flex-nav .nav-title {
  text-align: center;
  line-height: 1.2;
  width: 0%;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
}
.flex-nav .nav-title p {
  color: #aaa;
  font-size: 12px;
}
/*搜索*/
.flex-search {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  -o-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.flex-search .input {
  width: 0%;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  margin-left: 10px;
  height: 25px;
  line-height: 25px;
  padding: 5px 10px;
  border: 1px solid #ddd;
}
.flex-search .input input {
  border: none;
  width: 100%;
}
.flex-search span {
  padding: 10px;
  padding-right: 0;
  width: 50px;
  display: block;
  flex: none;
}
.flex-search .f-icon {
  margin-left: 10px;
}
/*垂直居中*/
.flex-centerbox {
  width: 100%;
  height: 200px;
  background: #fafafa;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  margin: 10px 0;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.center-cont {
  display: block;
  background: #ddd;
  text-align: center;
  padding: 20px;
  margin: 10px;
}
/*垂直弹性布局*/
.page-box {
  height: 400px;
  width: 100%;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.page-box .flex-ver {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-box-direction: normal;
  -o-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.nav-box,
.btn-box {
  height: 45px;
  text-align: center;
  line-height: 45px;
}
.cont-box {
  height: auto;
  background: #ccc;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.wrapper-but {
  padding: 0 4%;
}
.button .but-common {
  margin-top: 0.5rem;
}
.but-common {
  position: relative;
  display: block;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  color: #ffffff;
  outline: none;
}
.but-common.but-default:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.but-XL-size {
  font-size: 0.5rem;
  width: ;
  height: 1.3rem;
  line-height: 2.6;
}
.but-XL-size:active {
  color: rgba(255, 255, 255, 0.6);
}
.but-L-size {
  font-size: 0.45rem;
  width: 2.4rem;
  height: 0.65rem;
  line-height: 1.44444444;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
}
.but-L-size:after {
  border-width: 0;
}
.but-M-size {
  font-size: 0.45rem;
  width: 1.8rem;
  height: 1.1rem;
  line-height: 2.44444444;
  display: inline-block;
}
.but-M-size:active {
  color: rgba(255, 255, 255, 0.6);
}
.but-primary {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9815), to(#ff8c3f));
  background: gradient(linear, 0 0, 0 100%, from(#ff9815), to(#ff8c3f));
  background: -webkit-linear-gradient(left, #ff9815, #ff8c3f);
  background: linear-gradient(left, #ff9815, #ff8c3f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff9815, endColorstr=#ff8c3f, grandientType=0);
  box-shadow: 1px 1px 2px #ff8c40;
  -moz-box-shadow: 1px 1px 2px #ff8c40;
  -webkit-box-shadow: 1px 1px 2px #ff8c40;
}
.but-primary:not(.but-disabled ):active {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff8c40), to(#ff9815));
  background: gradient(linear, 0 0, 0 100%, from(#ff8c40), to(#ff9815));
  background: -webkit-linear-gradient(left, #ff8c40, #ff9815);
  background: linear-gradient(left, #ff8c40, #ff9815);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8c40, endColorstr=#ff9815, grandientType=0);
}
.but-primary.but-M-size {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9815), to(#ff9815));
  background: gradient(linear, 0 0, 0 100%, from(#ff9815), to(#ff9815));
  background: -webkit-linear-gradient(left, #ff9815, #ff9815);
  background: linear-gradient(left, #ff9815, #ff9815);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff9815, endColorstr=#ff9815, grandientType=0);
  box-shadow: 0px 0px 0px #ff8c40;
  -moz-box-shadow: 0px 0px 0px #ff8c40;
  -webkit-box-shadow: 0px 0px 0px #ff8c40;
}
.but-primary.but-M-size:not(.but-disabled ):active {
  background-color: #000000;
}
.but-default {
  color: #000000;
  background-color: #f8f8f8;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
.but-default:not(.but-disabled):active {
  color: rgba(0, 0, 0, 0.6);
  background-color: #dedede;
}
.operation .but-default:active {
  color: #000000;
  background-color: #f8f8f8;
}
.but-warn {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fa6368), to(#f74a5e));
  background: gradient(linear, 0 0, 0 100%, from(#fa6368), to(#f74a5e));
  background: -webkit-linear-gradient(left, #fa6368, #f74a5e);
  background: linear-gradient(left, #fa6368, #f74a5e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fa6368, endColorstr=#f74a5e, grandientType=0);
  box-shadow: 1px 1px 2px #f8485d;
  -moz-box-shadow: 1px 1px 2px #f8485d;
  -webkit-box-shadow: 1px 1px 2px #f8485d;
}
.but-warn:not(.but-disabled ):active {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8485d), to(#fa6368));
  background: gradient(linear, 0 0, 0 100%, from(#f8485d), to(#fa6368));
  background: -webkit-linear-gradient(left, #f8485d, #fa6368);
  background: linear-gradient(left, #f8485d, #fa6368);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8485d, endColorstr=#fa6368, grandientType=0);
}
.but-warn.but-M-size {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fa6368), to(#fa6368));
  background: gradient(linear, 0 0, 0 100%, from(#fa6368), to(#fa6368));
  background: -webkit-linear-gradient(left, #fa6368, #fa6368);
  background: linear-gradient(left, #fa6368, #fa6368);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fa6368, endColorstr=#fa6368, grandientType=0);
  box-shadow: 0px 0px 0px #f8485d;
  -moz-box-shadow: 0px 0px 0px #f8485d;
  -webkit-box-shadow: 0px 0px 0px #f8485d;
}
.but-warn.but-M-size:not(.but-disabled ):active {
  background-color: #ff5e43;
}
.but-L-primary {
  color: #ff9815;
  border: 1px solid #ff9815;
}
.but-L-primary:active {
  color: rgba(255, 143, 66, 0.6);
  border-color: rgba(255, 143, 66, 0.6);
}
.but-disabled {
  color: rgba(255, 255, 255, 0.6);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.but-disabled.but-primary {
  background-color: #ff8f42;
  color: rgba(255, 255, 255, 0.3);
}
.but-disabled.but-default {
  background-color: #f7f7f7;
  color: rgba(0, 0, 0, 0.3);
}
.but-disabled.but-warn {
  background-color: #ff5e43;
  color: rgba(0, 0, 0, 0.2);
}
.wireframe-panel .wireframe-part {
  padding: 0.3rem;
}
.wireframe-panel .wireframe-part:active {
  background-color: #ececec;
}
.panel-title {
  font-size: 0.3rem;
  text-align: left;
  padding: 0.4rem;
}
.panel-bd-describe {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666666;
  margin: 0.2rem 0;
}
.panel-money {
  color: #f43530;
}
.pannel-bd-text {
  color: #666666;
  text-align: left;
}
.pannel-bd-text .panel-money {
  margin-left: 0.3rem;
}
.panel-center,
.panel-link {
  position: relative;
  padding: 0.4rem 0;
}
.panel-center:before,
.panel-link:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #d9d9d9;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -o-transform: scaleY(0.5);
  transform: scaleY(0.5);
  left: 0.5rem;
}
.panel-hd {
  width: 2rem;
  height: 2rem;
  margin-right: 0.3rem;
}
.panel-bd {
  text-align: left;
}
.panel-bd-title {
  font-size: 0.4rem;
  color: #000000;
  padding-bottom: 0.1rem;
}
.panel-bd-tips {
  color: #666666;
  font-size: 0.33rem;
}
.wireframe-link .panel-link-look {
  color: #586c94;
}
.wireframe-link:active {
  background-color: #ececec;
}
.panel-link-ft:after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 0.5rem;
  height: 0.3rem;
  width: 0.3rem;
  border-width: 0.1rem 0.1rem 0 0;
  border-color: #d9d9d9;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  -moz-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  -ms-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  -o-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  margin-top: -0.2rem;
}
.panel-part-text .wireframe-part:active {
  background-color: inherit;
}
.panel-part-text .panel-bd-tips {
  margin-top: 0.3rem;
}
.panel-small-hd {
  width: 0.6rem ;
  height: 0.6rem;
  margin-right: 0.3rem;
}
.panel-small-bd {
  color: #666666;
}
.pannel-center-list {
  padding: 0.4rem;
  text-align: left;
}
.pannel-center-list .panel-bd-title {
  margin-bottom: 0.3rem;
}
.panel-ms {
  margin-top: 0.3rem;
  color: #cccccc;
}
.panel-ms p {
  display: inline-block;
}
.panel-ms .panel-ms-come {
  padding-right: 0.3rem;
}
.panel-ms .panel-ms-time {
  padding-right: 0.3rem;
}
.panel-ms .panel-ms-others {
  border-left: 1px solid #d9d9d9;
  padding-left: 0.3rem;
}
.pannel-part-list .wireframe-part:active {
  background-color: inherit;
}
.pannel-list {
  font-size: 0.45rem;
  margin: 0.3rem 0;
}
.pannel-list .pannel-list-title {
  width: 30%;
  text-align: left;
}
.pannel-list .pannel-list-text {
  text-align: left;
}
.pannel-list .but-common {
  margin-top: 0;
}
.pannel-block {
  padding: 0.3rem 0;
}
.pannel-block h2 {
  font-size: 1.6rem;
  color: #ff5e43;
  margin: 0.3rem 0;
}
.pannel-block h3 {
  font-size: 0.45rem;
}
.pannel-block .wireframe-part {
  padding: 0 0.3rem;
}
.pannel-block .wireframe-part:active {
  background-color: initial;
}
.pannel-block .pannel-block-text {
  text-align: center;
  margin-top: 0.3rem;
}
.pannel-block .pannel-block-text i {
  color: #ff5e43;
}
.pannel-domain {
  text-align: left;
  font-size: 0.45rem;
  color: #cccccc;
}
.pannel-domain.hd {
  font-size: 0.5rem;
  color: #666666;
  margin-bottom: 0.3rem;
}
.pannel-domain.hd p {
  color: #ff5e43;
}
.pannel-tab ul {
  border-bottom: 1px solid #d9d9d9;
  padding: 0.4rem 0;
}
.pannel-tab ul li {
  display: inline-block;
  text-align: center;
}
.flex-teamlist.header {
  background: #ff9945;
  padding: 0.2rem 0;
  font-size: 0.45rem;
  border-bottom: none;
}
.flex-teamlist.header li {
  border-right: 1px solid #ffffff;
  color: #ffffff;
  padding: 0.2rem 0;
}
.flex-teamlist.header li:last-child {
  border-right: 0;
}
.flex-teamlist li {
  width: 0%;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}
.flex-teamlist .level {
  width: 15%;
}
.flex-teamlist .level span {
  padding: 0rem 0.2rem;
  font-size: 0.33rem;
  display: inline-block;
}
.flex-teamlist .tjr {
  width: 36%;
}
.flex-teamlist .jrsj {
  width: 36%;
}
